.date {
    position: relative;
}

.number-checks {
    position: relative;
    text-align: center;
}

.status {
    position: relative;
}

.table-checks {
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}